{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="container">
    <div class="row">
    {% for produto in produtos %}

    {% if produto.ativo %}
      <div class="col-sm">
        <div class="cont">
            <img style="width: 250px; margin-top: 20px;" src="/media/{{produto.img}}">
        </div>
        <h3 style="width: 350px; font-family: Gill Sans Extrabold, sans-serif; color: black;" class="nome titulo bordaBottom">{{produto.nome}}</h3>
        <h5 style="width: 300px; font-family: Gill Sans Extrabold, sans-serif; color: gray;" class="nome titulo bordaBottom">{{produto.volume}}</h5>
        <h3 class="rosa">R$ {{produto.preco}}0</h3>
        <br>
        <a style="margin-top: 20px; background-color: black; color: white; padding: 8px; border-radius: 15px; transition: 0.2s;" href="{% url 'produto' produto.id %}" class="botao">Adicionar ao carrinho</a>
        <br>
      </div>
    {% endif %}
    {% endfor %}


    </div>
  </div>
{% endblock %}